---
layout: kaboodle
---
<div id="content" class="col-full">

  <div id="inner" class="col-full">
    <div id="main" class="col-full">

      <div id="latest-blog-posts">

{% for post in paginator.posts %}

  <div class="post type-post status-publish format-standard hentry">

    <div class="ico-cal alignleft"><div class="ico-day">{{ post.date | date: "%-d" }}</div><div class="ico-month">{{ post.date | date: "%b" }}</div></div>

    <div class="details" style="margin-left:52px;">

      <h2 class="title"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>

        <p class="post-meta">
          <span class="post-author"><span class="small">By</span> cloudpebbles<!--<a href="http://www.cloudpebbles.com/author/admin/" title="Posts by cloudpebbles" rel="author">cloudpebbles</a>--></span>
          <span class="post-meta-sep">&bull;</span>
          <span class="post-date">{{ post.date | date: "%-d %B %Y" }}</span>
          <!-- <span class="post-meta-sep">&bull;</span>
          <span class="post-category"><a href="http://www.cloudpebbles.com/category/apps/roman-numerals-apps/" title="View all posts in Roman Numerals" rel="category tag">{{ post.categories }}</a></span>
          <span class="post-meta-sep">&bull;</span>
          <span class="comments"><span>Comments Off</span></span>-->
        </p>

        <div class="entry">
          {{ post.excerpt }}
        </div><!-- /.entry -->

        <div class="post-more">
          <span class="read-more"><a href="{{ post.url }}" title="Continue Reading &rarr;">Continue Reading &rarr;</a></span>
        </div>

      </div><!-- /.details -->
    </div><!-- /.post -->

{% endfor %}

    <div class="pagination woo-pagination">
      {% if paginator.previous_page %}
      <a class="prev page-numbers" href="{{ paginator.previous_page_path }}">&larr; Prev</a>
      {% endif %}

      {% for i in (1..paginator.total_pages) %}
        {% if i == paginator.page %}
        <span class='page-numbers current'>{{ paginator.page }}</span>
        {% else %}
        {% if i == 1%}
          <a class='page-numbers' href='/'>{{ i }}</a>
        {% else %}
          <a class='page-numbers' href='/page/{{ i }}/'>{{ i }}</a>
        {% endif %}
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <a class="next page-numbers" href="{{ paginator.next_page_path }}">Next &rarr;</a></div>
      {% endif %}
    </div><!-- /#latest-blog-posts -->

    <div class="fix"></div>

</div><!-- /#main -->


</div><!-- /#inner -->
</div><!-- /#content -->
