<div id="footer-widgets" class="col-full col-4">



<div class="block footer-widget-1">
      <div id="text-3" class="widget widget_text"><h3>About {{ site.title }}</h3>			<div class="textwidget">{{ site.description }}</div>
</div>
</div>



<div class="block footer-widget-2">
  <div id="pages-3" class="widget widget_pages"><h3>Pages</h3>		<ul>
    <li class="page_item page-item-29"><a href="{{ site.baseurl }}/about/">About</a></li>
    <li class="page_item page-item-786"><a href="{{ site.baseurl }}/privacy/">Privacy</a></li>
    <li class="page_item page-item-96 page_item_has_children"><a href="{{ site.baseurl }}/apps/">Apps</a>
      <ul class='children'>
        <li class="page_item page-item-721 page_item_has_children"><a href="{{ site.baseurl }}/apps/here-there/">Here &#038; There</a></li>
        <li class="page_item page-item-183"><a href="{{ site.baseurl }}/apps/hirakata-quiz/">HiraKata Quiz</a></li>
        <li class="page_item page-item-165"><a href="{{ site.baseurl }}/apps/learn-time/">Learn Time</a></li>
        <li class="page_item page-item-583"><a href="{{ site.baseurl }}/apps/maths-facts/">Maths Facts</a></li>
        <li class="page_item page-item-88"><a href="{{ site.baseurl }}/apps/roman-numerals/">Roman Numerals</a></li>
        <li class="page_item page-item-195"><a href="{{ site.baseurl }}/apps/times-tables/">Times Tables</a></li>
      </ul>
    </li>
    <li class="page_item page-item-708 page_item_has_children"><a href="{{ site.baseurl }}/support/">Support</a>
      <ul class='children'>
        <li class="page_item"><a href="{{ site.baseurl }}/support/learn-time/">Learn Time</a></li>
        <li class="page_item"><a href="{{ site.baseurl }}/support/roman-numerals/">Roman Numerals</a></li>
        <li class="page_item"><a href="{{ site.baseurl }}/support/times-tables/">Times Tables</a></li>
        <li class="page_item"><a href="{{ site.baseurl }}/support/maths-facts/">Maths Facts</a></li>
        <li class="page_item page-item-730"><a href="{{ site.baseurl }}/support/here-there/">Here &#038; There</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>

<div class="block footer-widget-3">
  <div id="recent-posts-3" class="widget widget_recent_entries">
    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="block footer-widget-4">
  <div id="woo_twitter-4" class="widget widget_woo_twitter">
    <h3>Twitter</h3>
    <div class="back"><ul id="twitter_update_list_woo_twitter-4"><li></li></ul>
    <p>Follow <a href="http://twitter.com/cloudpebbles"><strong>@cloudpebbles</strong></a> on Twitter</p></div><div class="clear"></div>

    </div>


</div>


<div class="fix"></div>

</div><!-- /#footer-widgets  -->

<div id="footer" class="col-full">

<div id="copyright" class="col-left">
  <p>{{ site.title }} &copy; 2014. All Rights Reserved.</p>
</div>

<div id="credit" class="col-right">a <a href="http://kumo.it/">kumo.it</a> production		</div>

</div><!-- /#footer  -->
