<div id="header-container">
  <div id="header" class="col-full">

    <div id="logo">
      <span class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></span>
      <span class="site-description">educational and useful iOS software</span>
    </div><!-- /#logo -->

    <div id="navigation" class="fr">
      <ul id="main-nav" class="nav fl"><li id="menu-item-713" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-713"><a href="{{ site.baseurl }}/">Home</a></li>
        <!-- current_page_parent current_page_ancestor current-menu-ancestor current-menu-parent current-page-parent -->
        <li id="menu-item-711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="/apps/">Apps</a>
          <ul class="sub-menu">
            <li id="menu-item-716" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ site.baseurl }}/apps/times-tables/">Times Tables</a></li>
            <!-- current-menu-item page_item current_page_item page_item -->
            <li id="menu-item-715" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ site.baseurl }}/apps/maths-facts/">Maths Facts</a></li>
            <li id="menu-item-735" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ site.baseurl }}/apps/here-there/">Here &#038; There</a></li>
            <li id="menu-item-719" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ site.baseurl }}/apps/roman-numerals/">Roman Numerals</a></li>
            <li id="menu-item-720" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ site.baseurl }}/apps/learn-time/">Learn Time</a></li>
            <li id="menu-item-718" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ site.baseurl }}/apps/hirakata-quiz/">HiraKata Quiz</a></li>
          </ul>
        </li>
        <li id="menu-item-712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-712"><a href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
      <ul class="rss fr">
        <li class="sub-rss"><a href="/feed/"><img src="{{ site.baseurl }}/images/ico-rss.png" alt="cloudpebbles" /></a></li>
      </ul>
    </div><!-- /#navigation -->

  </div><!-- /#header -->
</div><!-- /#header-container -->

<div id="shadow"></div>

{% if page.title %}
<div id="title-container" class="col-full post">
  <h1 class="title">{{ page.title }}</h1>
  <!-- <div class="search_main">
    <form method="get" class="searchform" action="{{ site.baseurl }}/" >
      <input type="text" class="field s" name="s" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" />
      <input type="image" src="{{ site.baseurl }}/images/ico-search.png" class="search-submit" name="submit" value="Go" />
    </form>
    <div class="fix"></div>
  </div> -->
</div>
{% endif %}
