<div id="sidebar" class="col-right">

      <div class="primary">

    <div id="woo_tabs-3" class="widget widget_woo_tabs"> 		<div id="tabs">

            <ul class="wooTabs">
                                <li class="popular"><a href="#tab-pop">Popular</a></li>                <li class="latest"><a href="#tab-latest">Latest</a></li>                                <li class="tags"><a href="#tab-tags">Tags</a></li>            </ul>

            <div class="clear"></div>

            <div class="boxes box inside">


                                <ul id="tab-pop" class="list">
                      <li>
  <div class="ico-cal alignleft"><div class="ico-day">23</div><div class="ico-month">Aug</div></div>	<div class="tab-content">
    <a title="cloudpebbles website" href="http://www.cloudpebbles.com/2011/08/23/cloudpebbles-website/">cloudpebbles website</a>
    <span class="meta">23rd August 2011</span>
    We are currently moving from kumo.it to our new cloudpebbles.com home. Here you will find ...	</div>
    <div class="fix"></div>
  </li>
    <li>
  <div class="ico-cal alignleft"><div class="ico-day">26</div><div class="ico-month">Aug</div></div>	<div class="tab-content">
    <a title="Email information" href="http://www.cloudpebbles.com/2011/08/26/email-information/">Email information</a>
    <span class="meta">26th August 2011</span>
    The old website still works, but all of the information has moved to this site. ...	</div>
    <div class="fix"></div>
  </li>
    <li>
  <div class="ico-cal alignleft"><div class="ico-day">29</div><div class="ico-month">Aug</div></div>	<div class="tab-content">
    <a title="Maths Facts" href="http://www.cloudpebbles.com/2011/08/29/maths-facts/">Maths Facts</a>
    <span class="meta">29th August 2011</span>
    Our latest app, Maths Facts, has been released on the app store. This app aims ...	</div>
    <div class="fix"></div>
  </li>
                  </ul>
                                                <ul id="tab-latest" class="list">
                      <li>
    <div class="ico-cal alignleft"><div class="ico-day">05</div><div class="ico-month">Feb</div></div>		<div class="tab-content">
    <a title="Roman Numerals 2.0" href="http://www.cloudpebbles.com/2014/02/05/roman-numerals-2-0/">Roman Numerals 2.0</a>
    <span class="meta">5th February 2014</span>
    A new version of Roman Numerals should be available in the App Store. This version ...		</div>
    <div class="fix"></div>
  </li>
    <li>
    <div class="ico-cal alignleft"><div class="ico-day">09</div><div class="ico-month">May</div></div>		<div class="tab-content">
    <a title="Times Tables 3.0" href="http://www.cloudpebbles.com/2013/05/09/times-tables-3-0/">Times Tables 3.0</a>
    <span class="meta">9th May 2013</span>
    A completely new version of Times Tables has been published. This version marks the start ...		</div>
    <div class="fix"></div>
  </li>
    <li>
    <div class="ico-cal alignleft"><div class="ico-day">17</div><div class="ico-month">Feb</div></div>		<div class="tab-content">
    <a title="You &#038; Me World Clock" href="http://www.cloudpebbles.com/2013/02/17/you-me-world-clock/">You &#038; Me World Clock</a>
    <span class="meta">17th February 2013</span>
    A new app has been released: You &amp; Me World Clock. This app allows you ...		</div>
    <div class="fix"></div>
  </li>
                  </ul>
                                                                <div id="tab-tags" class="list">
                    <a href='http://www.cloudpebbles.com/tag/email/' class='tag-link-86' title='1 topic' style='font-size: 12pt;'>email</a>
<a href='http://www.cloudpebbles.com/tag/maths-facts-2/' class='tag-link-89' title='4 topics' style='font-size: 20pt;'>maths facts</a>
<a href='http://www.cloudpebbles.com/tag/number-bonds/' class='tag-link-90' title='3 topics' style='font-size: 18pt;'>number bonds</a>
<a href='http://www.cloudpebbles.com/tag/release/' class='tag-link-88' title='1 topic' style='font-size: 12pt;'>release</a>
<a href='http://www.cloudpebbles.com/tag/times-tables/' class='tag-link-97' title='1 topic' style='font-size: 12pt;'>times tables</a>
<a href='http://www.cloudpebbles.com/tag/update/' class='tag-link-94' title='3 topics' style='font-size: 18pt;'>update</a>
<a href='http://www.cloudpebbles.com/tag/utilities/' class='tag-link-81' title='1 topic' style='font-size: 12pt;'>utilities</a>
<a href='http://www.cloudpebbles.com/tag/videos/' class='tag-link-91' title='1 topic' style='font-size: 12pt;'>videos</a>
<a href='http://www.cloudpebbles.com/tag/website/' class='tag-link-79' title='2 topics' style='font-size: 15.6pt;'>website</a>
<a href='http://www.cloudpebbles.com/tag/youtube/' class='tag-link-92' title='1 topic' style='font-size: 12pt;'>youtube</a>                </div>

            </div><!-- /.boxes -->

        </div><!-- /wooTabs -->

        </div>
        <div id="woo_feedback-4" class="widget_woo_feedback widget">

            <h3>Feedback</h3>
                    <div class="feedback">
              <div class="quotes">
                <div class="quotes-content">

                              <div class="quote">
                      <blockquote><p>This app really helps me with my times tables! <img src="/images/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
</blockquote>
                      <cite>Cutie pie 626 (on Times Tables)</cite>	                </div>


                              <div class="quote">
                      <blockquote><p>Perfect for solving those pesky clues involving Roman Numerals.</p>
</blockquote>
                      <cite>Xworddb (on Roman Numerals)</cite>	                </div>


                              <div class="quote">
                      <blockquote><p>Great game especially when you want to relax.</p>
</blockquote>
                      <cite>Jana (on Times Tables)</cite>	                </div>

                        </div><!--/.quotes-content-->
          <a href="#" class="btn-prev">Previous</a>
<a href="#" class="btn-next">Next</a>
            </div>
          </div>
          <div class="feedback-bottom"></div>


        </div>

      <div id="woo_twitter-3" class="widget widget_woo_twitter">                <div class="back"><ul id="twitter_update_list_woo_twitter-3"><li></li></ul>
        <p>Follow <a href="http://twitter.com/cloudpebbles"><strong>@cloudpebbles</strong></a> on Twitter</p></div><div class="clear"></div>
          <script type="text/javascript">
  <!--//--><![CDATA[//><!--

      function twitterCallback2(twitters) {

        var statusHTML = [];
        for (var i=0; i<twitters.length; i++){
          var username = twitters[i].user.screen_name;
          var status = twitters[i].text.replace(/((https?|s?ftp|ssh)\:\/\/[^"\s\<\>]*[^.,;'">\:\s\<\>\)\]\!])/g, function(url) {
            return '<a href="'+url+'">'+url+'</a>';
          }).replace(/\B@([_a-z0-9]+)/ig, function(reply) {
            return  reply.charAt(0)+'<a href="http://twitter.com/'+reply.substring(1)+'">'+reply.substring(1)+'</a>';
          });
          statusHTML.push( '<li><span class="content">'+status+'</span> <a style="font-size:85%" class="time" href="http://twitter.com/'+username+'/statuses/'+twitters[i].id_str+'">'+relative_time(twitters[i].created_at)+'</a></li>' );
        }
        document.getElementById( 'twitter_update_list_woo_twitter-3').innerHTML = statusHTML.join( '' );
      }

      function relative_time(time_value) {
        var values = time_value.split( " " );
        time_value = values[1] + " " + values[2] + ", " + values[5] + " " + values[3];
        var parsed_date = Date.parse(time_value);
        var relative_to = (arguments.length > 1) ? arguments[1] : new Date();
        var delta = parseInt((relative_to.getTime() - parsed_date) / 1000);
        delta = delta + (relative_to.getTimezoneOffset() * 60);

        if (delta < 60) {
          return 'less than a minute ago';
        } else if(delta < 120) {
          return 'about a minute ago';
        } else if(delta < (60*60)) {
          return (parseInt(delta / 60)).toString() + ' minutes ago';
        } else if(delta < (120*60)) {
          return 'about an hour ago';
        } else if(delta < (24*60*60)) {
          return 'about ' + (parseInt(delta / 3600)).toString() + ' hours ago';
        } else if(delta < (48*60*60)) {
          return '1 day ago';
        } else {
          return (parseInt(delta / 86400)).toString() + ' days ago';
        }
      }
  //-->!]]>
  </script>
  <script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline/cloudpebbles.json?callback=twitterCallback2&amp;count=5&amp;include_rts=t"></script>

        </div>


  </div>


</div><!-- /#sidebar -->
