<div id="sidebar" class="col-right">
  <div class="primary">

    <div id="woo_tabs-3" class="widget widget_woo_tabs">
      <div id="tabs">

      <ul class="wooTabs">
        <!-- <li class="popular"><a href="#tab-pop">Popular</a></li> -->
        <li class="latest"><a href="#tab-latest">Posts</a></li>
        <!-- <li class="tags"><a href="#tab-tags">Tags</a></li> -->
      </ul>

      <div class="clear"></div>

        <div class="boxes box inside">

          <!-- <ul id="tab-pop" class="list">

            <li>
              <div class="ico-cal alignleft"><div class="ico-day">day</div><div class="ico-month">month</div></div>
              <div class="tab-content">
                <a title="post.title" href="post.url">post.title</a>
                <span class="meta">post.date</span>
                post.content | truncatewords: 15
              </div>
              <div class="fix"></div>
            </li>

          </ul> -->

          <ul id="tab-latest" class="list">
            {% for post in site.categories[page.category] limit:3 %}
            <li>
              <div class="ico-cal alignleft"><div class="ico-day">{{ post.date | date: "%-d" }}</div><div class="ico-month">{{ post.date | date: "%b" }}</div></div>
              <div class="tab-content">
                <a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
                <span class="meta">{{ post.date | date: "%-d %B %Y" }}</span>
                {{ post.content | truncatewords: 15 }}
              </div>
              <div class="fix"></div>
            </li>
            {% endfor %}
          </ul>

          <!-- <div id="tab-tags" class="list">
            <a href='http://www.cloudpebbles.com/tag/email/' class='tag-link-86' title='1 topic' style='font-size: 12pt;'>email</a>
            <a href='http://www.cloudpebbles.com/tag/maths-facts-2/' class='tag-link-89' title='4 topics' style='font-size: 20pt;'>maths facts</a>
            <a href='http://www.cloudpebbles.com/tag/number-bonds/' class='tag-link-90' title='3 topics' style='font-size: 18pt;'>number bonds</a>
            <a href='http://www.cloudpebbles.com/tag/release/' class='tag-link-88' title='1 topic' style='font-size: 12pt;'>release</a>
            <a href='http://www.cloudpebbles.com/tag/times-tables/' class='tag-link-97' title='1 topic' style='font-size: 12pt;'>times tables</a>
            <a href='http://www.cloudpebbles.com/tag/update/' class='tag-link-94' title='3 topics' style='font-size: 18pt;'>update</a>
            <a href='http://www.cloudpebbles.com/tag/utilities/' class='tag-link-81' title='1 topic' style='font-size: 12pt;'>utilities</a>
            <a href='http://www.cloudpebbles.com/tag/videos/' class='tag-link-91' title='1 topic' style='font-size: 12pt;'>videos</a>
            <a href='http://www.cloudpebbles.com/tag/website/' class='tag-link-79' title='2 topics' style='font-size: 15.6pt;'>website</a>
            <a href='http://www.cloudpebbles.com/tag/youtube/' class='tag-link-92' title='1 topic' style='font-size: 12pt;'>youtube</a>
          </div> -->
        </div><!-- /.boxes -->
      </div><!-- /wooTabs -->

    </div>

    <div id="woo_feedback-4" class="widget_woo_feedback widget">

      <h3>Feedback</h3>
        <div class="feedback">
          <div class="quotes">
            <div class="quotes-content">

              {% for comment in site.data.comments %}
                <div class="quote">
                  <blockquote><p>{{ comment.quote }}</p></blockquote>
                  <cite>{{ comment.name }} (on {{ comment.app }})</cite>
                </div>
              {% endfor %}

            </div><!--/.quotes-content-->

            <a href="#" class="btn-prev">Previous</a>
            <a href="#" class="btn-next">Next</a>
          </div>
        </div>

        <div class="feedback-bottom"></div>
      </div>

      <div id="woo_twitter-3" class="widget widget_woo_twitter">
        <div class="back"><ul id="twitter_update_list_woo_twitter-3"><li></li></ul>
        <p>Follow <a href="http://twitter.com/cloudpebbles"><strong>@cloudpebbles</strong></a> on Twitter</p></div><div class="clear"></div>

<a class="twitter-timeline" href="https://twitter.com/cloudpebbles" data-widget-id="471390547257475072" date-tweet-limit="1">Tweets by @cloudpebbles</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>


  </div>


</div><!-- /#sidebar -->
