<div id="slides">
  <div id="slide-box">
    <div class="slides_container col-full" >

      <div class="slide" >

        <div class="entry slide-content fl">

          <h2 class="title"><a href="{{ "/apps/roman-numerals/" | prepend: site.baseurl }}">Roman Numerals 2</a></h2>
          <p>Improved support for large numbers, updated for iOS 7 and iPhone 5, and a Calculator in-app purchase.</p>

        </div><!-- /.slide-content -->

        <div class="slide-image fl">
          <a href="{{ "/apps/roman-numerals/" | prepend: site.baseurl }}" title="Roman Numerals 2"><img src="{{ "/images/Roman-Numerals-slide.png" | prepend: site.baseurl }}" alt="" class="woo-image slide-img"  width="920"  height="338"  /></a>
        </div><!-- /.slide-image -->

        <div class="fix"></div>
      </div><!-- /.slide -->

      <div class="slide" >
        <div class="entry">
          <h2><a href="{{ "/apps/maths-facts/" | prepend: site.baseurl }}"><img class="alignright size-full wp-image-655" title="Maths-Facts-app" src="{{ "/images/Maths-Facts-slide.png" | prepend: site.baseurl }}" alt="" width="282" height="500" /></a>If 3+2=5 then 5-2=?</h2>
          <p>Fun way of learning the addition and subtraction facts, along with facts families and number bonds on your iPhone or iPad.</p>
          <p><a class="btn" title="Maths Facts" href="{{ "/apps/maths-facts/" | prepend: site.baseurl }}">Read more</a> Or <a class="btn" title="View other software" href="{{ "/apps/" | prepend: site.baseurl }}">View other software</a></p>
        </div>
      </div><!-- /.slide -->

    </div><!-- /.slides_container -->

  </div><!-- /#slide-box -->
  <div id="line_wrap"><div id="line"></div></div>
</div><!-- /#slides -->
