<div class="post-747 post type-post status-publish format-standard hentry category-you-me-world-clock">

              <div class="ico-cal alignleft"><div class="ico-day">17</div><div class="ico-month">Feb</div></div>

    <div class="details" style="margin-left:52px;">

      <h2 class="title"><a href="http://www.cloudpebbles.com/2013/02/17/you-me-world-clock/" rel="bookmark" title="You &#038; Me World Clock">You &#038; Me World Clock</a></h2>

        <p class="post-meta">
<span class="post-author"><span class="small">By</span> <a href="http://www.cloudpebbles.com/author/admin/" title="Posts by cloudpebbles" rel="author">cloudpebbles</a></span>
<span class="post-meta-sep">&bull;</span>
<span class="post-date">17th February 2013</span>
<span class="post-meta-sep">&bull;</span>
<span class="post-category"><a href="http://www.cloudpebbles.com/category/apps/you-me-world-clock/" title="View all posts in You &amp; Me World Clock" rel="category tag">You &amp; Me World Clock</a></span>
<span class="post-meta-sep">&bull;</span>
<span class="comments"><span>Comments Off</span></span>
</p>

        <div class="entry">
              <p>A new app has been released: You &amp; Me World Clock. This app allows you to easily keep track of what time it is in another part of the world, very useful if you have friends, family, or colleagues in another part of the world, or in particular if your partner is away and you [&hellip;]</p>
          </div><!-- /.entry -->

        <div class="post-more">
                                <span class="read-more"><a href="http://www.cloudpebbles.com/2013/02/17/you-me-world-clock/" title="Continue Reading &rarr;">Continue Reading &rarr;</a></span>
                              </div>

     </div><!-- /.details -->
  </div><!-- /.post -->
