---
layout: twocolumn-post
---
<div id="content" class="page col-full">

<div id="content-header">

<div id="breadcrumbs">
<div class="breadcrumb breadcrumbs woo-breadcrumbs"><div class="breadcrumb-trail"><span class="trail-before"><span class="breadcrumb-title">You are here:</span></span>
  <a href="/" title="cloudpebbles" rel="home" class="trail-begin">Home</a>
  <span class="sep">&rarr;</span> <span class="trail-end">{{ page.title }}</span></div></div>
</div><!--/#breadcrumbs -->

<div id="post-entries">
      {% if page.previous %}
      <div class="nav-prev fl"><a href="{{ page.previous.url }}" rel="prev"><span class="meta-nav">&larr;</span> {{ page.previous.title }}</a></div>
      {% endif %}
      {% if page.next %}
      <div class="nav-next fr"><a href="{{ page.next.url }}" rel="next">{{ page.next.title }} <span class="meta-nav">&rarr;</span></a></div>
      {% endif %}
      <div class="fix"></div>
  </div><!-- #post-entries -->

  <div class="fix"></div>

</div><!-- #content-header   -->

  <div id="inner" class="col-full">

    <div id="main" class="col-left">

<div class="post type-post status-publish format-standard hentry">

<h1 class="title"><a href="{{ page.link }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>

<p class="post-meta">
<span class="post-author"><span class="small">By</span> <a href="http://www.cloudpebbles.com/author/admin/" title="Posts by cloudpebbles" rel="author">cloudpebbles</a></span>
<span class="post-meta-sep">&bull;</span>
<span class="post-date">{{ page.date | date: "%-d %B %Y" }}</span>
<span class="post-meta-sep">&bull;</span>
<span class="post-category"><a href="http://www.cloudpebbles.com/category/apps/times-tables-apps/" title="View all posts in Times Tables" rel="category tag">{{ page.categories }}</a></span>
<span class="post-meta-sep">&bull;</span>
<span class="comments"><span>Comments Off</span></span>
</p>

        <div class="entry">
          {{ content }}
        </div><!-- /.entry -->

      </div><!-- /.post -->
    </div><!-- /#main -->

    {% include sidebar.html %}

  </div><!-- /#inner -->
</div><!-- /#content -->
